{% extends './base/base.html' %}
{% block header %}


    <div class="mx-10 bg-gray-300 rounded-lg p-5 mt-3">
        <p class="font-bold text-xl mb-9">Загвар:</p>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4  ">
            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Доод үнэ</option>
                <option>20 000</option>
                <option>40 000</option>
                <option>60 000</option>
                <option>80 000</option>
                <option>100 000</option>
                <option>300 000</option>
                <option>500 000</option>
                <option>700 000</option>
                <option>1сая</option>
                <option>1.5сая</option>
                <option>2сая</option>
                <option>3сая</option>
                
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Дээд үнэ</option>
                <option>20 000</option>
                <option>40 000</option>
                <option>60 000</option>
                <option>80 000</option>
                <option>100 000</option>
                <option>300 000</option>
                <option>500 000</option>
                <option>700 000</option>
                <option>1сая</option>
                <option>1.5сая</option>
                <option>2сая</option>
                <option>3сая</option>
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Бүх байршил</option>
                <option>УБ — Багануур</option>
                <option>УБ — Багахангай</option>
                <option>УБ — Баянгол</option>
                <option>УБ — Баянзүрх</option>
                <option>УБ — Налайх</option>
                <option>УБ — Сонгинохайрхан</option>
                <option>УБ — Сүхбаатар</option>
                <option>УБ — Хан-Уул</option>
                <option>УБ — Чингэлтэй</option>
                <option>Архангай</option>
                <option>Баян-Өлгий</option>
                <option>Баянхонгор</option>
                <option>Булган</option>          
                <option>Говь-Алтай</option>
                <option>Говьсүмбэр</option>
                <option>Дархан-Уул</option>
                <option>Дорноговь</option>             
                <option>Дорнод</option>          
                <option>Дундговь</option>            
                <option>Завхан </option>          
                <option>Орхон</option>         
                <option>Өвөрхангай</option>
                <option>Өмнөговь</option>            
                <option>Сүхбаатар</option>             
                <option>Сэлэнгэ</option>           
                <option>Төв</option>       
                <option>Увс</option>       
                <option>Ховд</option>        
                <option>Хөвсгөл</option>           
                <option>Хэнтий</option> 
            </select>


            <button class="btn w-60 text-white  ">Хайх</button>
        </div>
    </div>

    <div class="mx-10   ">
        <p class="font-bold text-2xl my-8 ">амьтан зарна:</p>

        <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8">
            <button class="btn zar-button m-5" >
                      <img class="object-cover h-48 w-96 rounded-lg" src="https://cdn1.unegui.mn/media/cache2/dc/0a/dc0a3b817b8401a0442de3d51082f15f.jpg" />
                <div>
                    <p>Name</p><br>
                    <p>Details</p><br>
                    <p>Price</p>
                </div>
            </button>

            <button class="btn zar-button m-5" >
                <img class="object-cover h-48 w-96 rounded-lg" src="https://cdn1.unegui.mn/media/cache2/c7/68/c7686dcedccbfa503dd3aa5065af9d45.jpg" />
                <div>
                    <p>Name</p><br>
                    <p>Details</p><br>
                    <p>Price</p>
                </div>
            </button>

            <button class="btn zar-button m-5" >
                <img class="object-cover h-48 w-96 rounded-lg" src="https://cdn1.unegui.mn/media/cache2/71/a7/71a75bb29644c9126703252cecc49fa9.jpg" />
                <div>
                    <p>Name</p><br>
                    <p>Details</p><br>
                    <p>Price</p>
                </div>
            </button>

            
           
        </div>
        
    </div>
    {% endblock %}
    
      
