{% extends './base/base.html' %}
{% block header %}


    <div class="mx-10 bg-gray-300 rounded-lg p-5 mt-3">
        <p class="font-bold text-xl mb-9">Загвар:</p>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4  ">
            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Доод үнэ</option>
                <option>200 000</option>
                <option>400 000</option>
                <option>600 000</option>
                <option>800 000</option>
                <option>1сая</option>
                <option>1.5сая</option>
                <option>2сая</option>
                <option>3сая</option>
                
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Дээд үнэ</option>
                <option>200 000</option>
                <option>400 000</option>
                <option>600 000</option>
                <option>800 000</option>
                <option>1сая</option>
                <option>1.5сая</option>
                <option>2сая</option>
                <option>3сая</option>
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Ажлын цаг</option>
                <option>Бүтэн цаг</option>
                <option>Хагас цаг</option>
                <option>Цаг</option>
                <option>Гэрээт</option>
                <option>Түр хугацааны</option>
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Туршлага</option>
                <option>Шаардахгүй</option>
                <option>Шаардлагатай</option>
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Мэргэжлийн түвшин</option>
                <option>Дадлагын</option>
                <option>Анхан шатны</option>
                <option>Мэргэжилтэн</option>
                <option>Дунд шатны удирдлага</option>
                <option>Дээд шатны удирдлага</option>
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Бүх байршил</option>
                <option>УБ — Багануур</option>
                <option>УБ — Багахангай</option>
                <option>УБ — Баянгол</option>
                <option>УБ — Баянзүрх</option>
                <option>УБ — Налайх</option>
                <option>УБ — Сонгинохайрхан</option>
                <option>УБ — Сүхбаатар</option>
                <option>УБ — Хан-Уул</option>
                <option>УБ — Чингэлтэй</option>
                <option>Архангай</option>
                <option>Баян-Өлгий</option>
                <option>Баянхонгор</option>
                <option>Булган</option>          
                <option>Говь-Алтай</option>
                <option>Говьсүмбэр</option>
                <option>Дархан-Уул</option>
                <option>Дорноговь</option>             
                <option>Дорнод</option>          
                <option>Дундговь</option>            
                <option>Завхан </option>          
                <option>Орхон</option>         
                <option>Өвөрхангай</option>
                <option>Өмнөговь</option>            
                <option>Сүхбаатар</option>             
                <option>Сэлэнгэ</option>           
                <option>Төв</option>       
                <option>Увс</option>       
                <option>Ховд</option>        
                <option>Хөвсгөл</option>           
                <option>Хэнтий</option> 
            </select>


            <button class="btn w-60 text-white  ">Хайх</button>
        </div>
    </div>

    <div class="mx-10   ">
        <p class="font-bold text-2xl my-8 ">МТ, харилцаа холбоо:</p>

        <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8">
            <button class="btn zar-button0 m-5" >
                <div>
                    <p>Name</p><br>
                    <p>Details</p><br>
                    <p>salary</p>
                </div>
            </button>

            <button class="btn zar-button0 m-5" >
                
                <div>
                    <p>Name</p><br>
                    <p>Details</p><br>
                    <p>salary</p>
                </div>
            </button>

            <button class="btn zar-button0 m-5" >
                
                <div>
                    <p>Name</p><br>
                    <p>Details</p><br>
                    <p>salary</p>
                </div>
            </button>

            <button class="btn zar-button0 m-5" >
                
                <div>
                    <p>Name</p><br>
                    <p>Details</p><br>
                    <p>salary</p>
                </div>
            </button>

            <button class="btn zar-button0 m-5" >
                
                <div>
                    <p>Name</p><br>
                    <p>Details</p><br>
                    <p>salary</p>
                </div>
            </button>

            
           
        </div>
        
    </div>
    {% endblock %}
    
      
