{% extends './base/base.html' %}
{% block header %}


    <div class="mx-10 bg-gray-300 rounded-lg p-5 mt-3">
        <p class="font-bold text-xl mb-9">Загвар:</p>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4  ">
            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Доод үнэ</option>
                <option>5сая</option>
                <option>10сая</option>
                <option>20сая</option>
                <option>30сая</option>
                <option>40сая</option>
                <option>50сая</option>
                <option>60сая</option>
                <option>70сая</option>
                <option>80сая</option>
                <option>90сая</option>
                <option>100сая</option>
                <option>200сая</option>
                <option>300сая</option>
                <option>400сая</option>
                <option>500сая</option>
                
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Дээд үнэ</option>
                <option>5сая</option>
                <option>10сая</option>
                <option>20сая</option>
                <option>30сая</option>
                <option>40сая</option>
                <option>50сая</option>
                <option>60сая</option>
                <option>70сая</option>
                <option>80сая</option>
                <option>90сая</option>
                <option>100сая</option>
                <option>200сая</option>
                <option>300сая</option>
                <option>400сая</option>
                <option>500сая</option>
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Лизинг</option>
                <option>Хувь лизингтэй</option>
                <option>Банкны лизингтэй</option>
                <option>Лизинггүй</option>
            </select>

            <select class="select select-success w-60 max-w-xs carButton">
                <option disabled selected>Бүх байршил</option>
                <option>УБ — Багануур</option>
                <option>УБ — Багахангай</option>
                <option>УБ — Баянгол</option>
                <option>УБ — Баянзүрх</option>
                <option>УБ — Налайх</option>
                <option>УБ — Сонгинохайрхан</option>
                <option>УБ — Сүхбаатар</option>
                <option>УБ — Хан-Уул</option>
                <option>УБ — Чингэлтэй</option>
                <option>Архангай</option>
                <option>Баян-Өлгий</option>
                <option>Баянхонгор</option>
                <option>Булган</option>          
                <option>Говь-Алтай</option>
                <option>Говьсүмбэр</option>
                <option>Дархан-Уул</option>
                <option>Дорноговь</option>             
                <option>Дорнод</option>          
                <option>Дундговь</option>            
                <option>Завхан </option>          
                <option>Орхон</option>         
                <option>Өвөрхангай</option>
                <option>Өмнөговь</option>            
                <option>Сүхбаатар</option>             
                <option>Сэлэнгэ</option>           
                <option>Төв</option>       
                <option>Увс</option>       
                <option>Ховд</option>        
                <option>Хөвсгөл</option>           
                <option>Хэнтий</option> 
            </select>


            <button class="btn w-60 text-white  ">Хайх</button>
        </div>
    </div>

    <div class="mx-10   ">
        <p class="font-bold text-2xl my-8 ">Үл хөдлөх хөрөнгө зарна:</p>

        <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8">
            <button class="btn zar-button m-5" >
                      <img class="object-cover h-48 w-96 rounded-lg" src="https://cdn1.unegui.mn/media/cache2/36/ae/36ae265a9f773f46f626095a817fad67.jpg" />
                <div>
                    <p>Price</p><br>
                    <p>Details</p><br>
                    <p>Phone number</p>
                </div>
            </button>

            <button class="btn zar-button m-5" >
                <img class="object-cover h-48 w-96 rounded-lg" src="https://cdn1.unegui.mn/media/cache2/7f/9c/7f9cacfc2906c20e222324d9c46595d0.jpg" />
                <div>
                    <p>Price</p><br>
                    <p>Details</p><br>
                    <p>Year</p>
                </div>
            </button>

            <button class="btn zar-button m-5" >
                <img class="object-cover h-48 w-96 rounded-lg" src="https://cdn1.unegui.mn/media/cache2/c5/de/c5de2ba8b278cd28add5c06abc25d246.jpg" />
                <div>
                    <p>Price</p><br>
                    <p>Details</p><br>
                    <p>Year</p>
                </div>
            </button>

            <button class="btn zar-button m-5" >
                <img class="object-cover h-48 w-96 rounded-lg" src="https://cdn1.unegui.mn/media/cache2/c6/d4/c6d4a86604759ddfecec63991c099694.jpg">
                <div>
                    <p>Price</p><br>
                    <p>Mark</p><br>
                    <p>Year</p>
                </div>
            </button>

            <button class="btn zar-button m-5" >
                <img class="object-cover h-48 w-96 rounded-lg" src="https://cdn1.unegui.mn/media/cache2/2c/64/2c64159c4f6f66a1b0c078d933b29f12.jpg">
                <div>
                    <p>Price</p><br>
                    <p>Mark</p><br>
                    <p>Year</p>
                </div>
            </button>

            
           
        </div>
        
    </div>
    {% endblock %}
    
      
